* {
    box-sizing: border-box;
    font-family: 'Architects Daughter', cursive;
    margin: 0;
    padding: 0;
}

body {
    margin: 30px 50px;
    background-color: #eff3ce;
}

.panel {
    border: 4px solid #000;
    background-color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
}

header.panel {
    background: url(img/loud_howard.png);
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: 50px 0;
    background-color: #58edfe;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

header .title-container {
    height: 100%;
    background: #f3307b;
    display: flex;
    align-items: center;
    padding: 0 20px;
    flex: none;
    font-size: 80px;
    font-family: 'Dosis', sans-serif;
}

#loud-list ul {
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
}

#loud-list li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 30px;
    margin-bottom: 30px;
}

#loud-list li .avatar {
    background: url(img/loud_howard.png);
    background-repeat: no-repeat;
    background-position: 5px 5px;
    background-size: 100px;
    background-color: #58edfe;
    width: 88px;
    height: 88px;
    border: 4px solid #000;
    border-radius: 50%;
    display: inline-block;
    flex: none;
}

#loud-list li * {
    margin-left: 10px;
    margin-right: 10px;
}

#loud-list li .name {
    font-size: 35px;
    flex: none;
    width: 110px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#loud-list li .meter {
    height: 33px;
    border: 4px solid black;
    border-radius: 25px;
    overflow: hidden;
    flex: 1 1 600px;
}

#loud-list li .meter .progress {
    height: 100%;
    display: inline-block;
    margin-left: 0;
}

@media all and (min-width: 1024px) {
    body {
        margin: 30px auto;
        max-width: 974px;
    }
}
